
.calculator{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 7px;
    min-width: 150px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.display{
    flex-grow: 1.6;

}
.controls{
    flex-grow: 4;
    display: flex;
    flex-direction: column;

}
.controls .control-1{
    display: flex;
    justify-content: space-evenly;
    flex: 2;
}
.controls .control-1 > button{
    width: 50%;
}
.controls .control-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 10;
    flex-direction: row;
    justify-content: space-around;
    padding: 1px;
}
.control-2 div button{
    width: 25%;


}
.control-2 div{
    width: 100%;
    display: flex;;
    justify-content: space-evenly;
}
.calculator .display{
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
}
button{
    border-radius: 4px;
    font-weight: 500;
}
button:hover{
    background-color: black;
    color: white;
}
.orange-button{
    background-color: orange;

}
button:active{
    background-color: green;
}
.blue-button{
    background-color: lightskyblue;
}
.red-button{
    background-color: red;
}